body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(231, 232, 247);
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;/*Met les éléments aux deux extrémités (logo à gauche, menu à droite).*/
    background-color: rgb(192, 205, 210);
    
}

.lgs{
    max-width: 100px;
    height: 60px;
    display: flex;
    border-radius: 15px;
}

.nav-links{
    display: flex;
    list-style: none;
    position: absolute;
    right: 0;
    
}

.nav-links li{
    margin: 0 15px;
}
 .nav-links a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin-top: -10%;
 }

 .presentation{
    display: flex;
    width: 100%;
    height: 100vh;
    background-image: url("d.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
 }
 .presentation p{
    width: 60%;
    height: auto;
    text-align: left;
    display: flex;
    position: absolute;
    margin-left: 180px;
    padding: 10px;
    color: black;
    margin-top: 10%;
 }

 .presentation h1{
    width: 40%;
    height: auto;
    text-align: center;
    margin-left: 50px;
    margin-top: 15%

 }
 .presentation input[type="email"]{
    width: 200px;
    height: 30px; ;
    padding: 10px;
    margin: 10px 0;
    margin-left: -30%;
    margin-top: 25%;
 }

 .presentation button{
    width: 100px;
    height: 52px;
    color: white;
    background-color: red;
    margin-top: 25%;
 }

 .presentation button:hover {
    background-color: #acceae;
}
.presentation h2{
    margin-top: 50%;
    height: auto;
    margin-left: 10%;
}

.partenaires{
    width: 800px;
    height: 100px;
    background-color: rgb(137, 139, 196);
    display: flex;
    text-align: center;
    align-items: center;
    margin-top: 100px;
    margin-left: 28%;
}

.partenaires h1{
    margin-top: -25px;
    height: auto;
    color: azure;
    


}

.partenaires p{
    width: 40px;
    height: 8px;
    margin-left: -55px;
    color: azure;

}

.logo{
    max-width: 100px;
    height: auto;
    margin: 10px;
    margin-left: 100px;
    
}
 .texte{
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 20px;
    margin-left: 10%;
 }

 .texte p{
    color: #0f0f0f;
 }

 
.container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    width: 50%;
    align-items: center;
    margin-left: 30%;


}

.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 30%;
    margin: 10px;
    align-items: center;
    
}

.icon {
    font-size: 40px;
}

h3 {
    margin: 15px 0 10px;
}

p {
    font-size: 14px;
    color: #555;
}

.link {
    color: rgb(248, 214, 172);
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

.btn {
    background-color: rgb(245, 138, 120);
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 50%;

}

.btn:hover {
    background-color: #0056b3;
}

.container2{
    display: flex;
    width: 100%;
    height: auto;
    background: #9c88e9;
    background-size: cover;
    clip-path: polygon(2% 21%, 100% 0%, 100% 97%, 0 79%);
    padding: 200px 20px;
}

.img{
    width: 200px;
    height: auto;
    margin-left: 30%;
    border-radius: 10px;
    

}

.block1{
    width: 50%;
    height: auto;
    margin-left: 20%;
}

.block1 p {
    width: 50%;
    margin-left: 20%;
    text-align: center;
}

.block2{
    width: 50%;
    height: auto;
    margin-right: 10%;
    
}

.block2 p{
    width: 50%;
    height: auto;
    text-align: center;
    
}

.block2 img{
    margin-top: 15%;
    height: 250px;
    width: 300px;
    margin-left: -5px;
}
.processus{
    width: 100%;
    align-items: center;
}

.processus h3 {
    align-items: center;
    margin-right: -50%;
    margin: 30px;
}

.steps {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.step {
    background: #fbfaf8;
    padding: 20px;
    border-radius: 10px;
    width: 200px;
    margin: 30px;
    text-align: center;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
}

.ics{
    width: 50px;
    height: 50px;
    text-align: center;
    align-items: baseline;
}
.cta {
    background: #fff;
    color: black;
    width: 500px;
    height: 40%;
    padding: 40px 20px;
    align-items: center;
    margin-left: 35%;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
}

.cta h3{
    text-align: left;
}

.cta p{
    width: 200px;
    text-align: center;
    align-items: center;
}

.imgs{
    width: 50%;
    height: 242px;
    margin-left: 50%;
    margin-top: -80%;
    border-radius: 4px;

}
.cta button {
    background: rgb(237, 119, 119);
    color: #0f0f0f;
    border: none;
    /*padding: 20px 10px;*/
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    width: 200px;
    height: 50px;
    margin-right: 55%;
    
}

footer {
    background: black;
    color: white;
    padding: 20px;
    width: 100%;


}
.footer-content {
    background: #7c8296;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100px;
    
}

.social-icons img {
    width: 30px;
    margin: 10px;
}

footer {
    background-color: #737094;
    color: rgb(249, 245, 245);
    /*padding: 20px 0;*/
    text-align: center;
    width: 100%;
    height:100px
}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
   /* padding: 20px;*/
    height: 50px;
}

.footer-info {
    text-align: center;
    margin-bottom: 10px;
    color: #fff;
}

.footer-info h3 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: -15px;
    color: #fbfaf8;
}

.footer-info p {
    font-size: 14px;
    margin-top: 10px;
    color: #fff;
}

.footer-social {
    display: flex;
    gap: 15px;
    font-size: 20px;
}

.footer-img {
    width: 40px;
    height: 30px;
    margin-top: -60%;
    margin: 15px;
    align-items: center;
    display: flex;
}

.footer-bottom {
    background-color: black;
    color: white;
    padding: 10px;
    font-size: 14px;
    width: 100%;
    height: 50px;
}

.footer-bottom p {
    color: white;
}

